.container-fluid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #00C490;
  /* border-radius: 10px; */
}

.text-center {
  font-family: "JetBrains Mono", monospace;
  color: #333;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-md-6 {
  flex: 0 0 48%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f4e3cf;
  border-radius: 8px;
}

h2 {
  font-family: "JetBrains Mono", monospace;
  color: #333;
}

p {
  font-family: "JetBrains Mono", monospace;
  color: #434343;
}

.carousel {
  position: relative;
}

.carousel-inner {
  border-radius: 15px;
  overflow: hidden;
}

.carousel-item img {
  transition: transform 0.5s ease;
}

.carousel-item img:hover {
  transform: scale(1.05);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn-dark {
  background-color: #333;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-dark:hover {
  background-color: #555;
}
