.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #3bc49d;
  border-radius: 10px;
}

.text-center {
  font-family: "JetBrains Mono", monospace;
  color: #333;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-6 {
  flex: 0 0 48%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* background-color: #00f8ac; */
  background-color: #f4e3cf;
  border-radius: 8px;
}

p {
  font-family: "JetBrains Mono", monospace;
  color: #434343;
}

img {
  /* border-radius: 8px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

.texto-foto {
  text-align: right;
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  font-size: 1.2em;
}