 <!-- Sobre Nosotros -->
 <section class="py-5 mt-3" id="website" style="background-color: #222222; color: rgba(255, 255, 255, 0.9);">
  <div class="container text-center">
      <h2>Sobre Nosotros</h2>
      <div class="row">
          <!-- Columna izquierda con la imagen -->
          <div class="col-md-6">
              <img src="assets/img/hombre.png" class="img-fluid" alt="Imagen sobre nosotros" style="max-width: 80%; box-shadow: 0 4px 8px rgba(0,0,0,0.5);">
          </div>
          <!-- Columna derecha con el texto -->
          <div class="col-md-6 d-flex align-items-center">
              <p>Un Mar de Lúpulo es una empresa dedicada a ofrecer cervezas artesanales de alta calidad, con un enfoque en el sabor y la tradición. Nos apasiona crear experiencias únicas para nuestros clientes, utilizando ingredientes frescos y locales para garantizar la mejor calidad en cada botella.
                  <br><br>
                  Nuestro equipo de expertos cerveceros trabaja arduamente para elaborar cervezas que reflejen nuestra pasión por la innovación y la excelencia. Cada cerveza que producimos es el resultado de años de experiencia y dedicación, y estamos orgullosos de ofrecer una amplia variedad de estilos y sabores para satisfacer a todos los paladares.
                  <br><br>
                  En Un Mar de Lúpulo, creemos que la cerveza es mucho más que una bebida: es una forma de arte, una expresión de la cultura y una fuente de alegría y camaradería. Nos esforzamos por crear un ambiente acogedor y amigable en nuestro local, donde los amantes de la cerveza pueden reunirse, compartir historias y disfrutar de momentos inolvidables juntos.
                  <br><br>
                  ¡Ven a visitarnos y descubre el maravilloso mundo de la cerveza artesanal en Un Mar de Lúpulo!
              </p>
          </div>
      </div>
  </div>
</section>
<svg id="visual" viewBox="0 0 960 350" width="100%" height="auto" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
  <rect x="0" y="0" width="100%" height="100%" fill="#00C490"></rect>
  <path d="M0 382L32 371.3C64 360.7 128 339.3 192 337.3C256 335.3 320 352.7 384 347.7C448 342.7 512 315.3 576 317.3C640 319.3 704 350.7 768 370.3C832 390 896 398 928 402L960 406L960 0L928 0C896 0 832 0 768 0C704 0 640 0 576 0C512 0 448 0 384 0C320 0 256 0 192 0C128 0 64 0 32 0L0 0Z" fill="#00c490"></path>
  <path d="M0 325L32 301.3C64 277.7 128 230.3 192 217.8C256 205.3 320 227.7 384 246.7C448 265.7 512 281.3 576 290.3C640 299.3 704 301.7 768 284C832 266.3 896 228.7 928 209.8L960 191L960 0L928 0C896 0 832 0 768 0C704 0 640 0 576 0C512 0 448 0 384 0C320 0 256 0 192 0C128 0 64 0 32 0L0 0Z" fill="#2e6e56"></path>
  <path d="M0 124L32 136.5C64 149 128 174 192 174.3C256 174.7 320 150.3 384 143.3C448 136.3 512 146.7 576 144.3C640 142 704 127 768 126.2C832 125.3 896 138.7 928 145.3L960 152L960 0L928 0C896 0 832 0 768 0C704 0 640 0 576 0C512 0 448 0 384 0C320 0 256 0 192 0C128 0 64 0 32 0L0 0Z" fill="#222222"></path>
</svg>