<!-- Hero Section -->
  <section class="hero bg-dark text-white text-center py-5 mt-3" id="hero">
    <div class="container">
        <div class = "logo-container mb-4">
          <img src="assets/img/logoletras.png" alt="Un Mar de Lúpulo" class="logo" style="width: 150px; height: auto;">  
        </div>
        <h1>Bienvenidos a Un Mar de Lúpulo</h1>
        <p class="lead"><p class="lead">Sumérgete en el fascinante mundo de la cerveza artesanal, donde la tradición, la pasión y la innovación se unen para ofrecerte experiencias únicas. Explora nuestra selección de cervezas elaboradas con ingredientes de la más alta calidad, y descubre los sabores auténticos que nos hacen destacar. Además, disfruta de la gastronomía local, pensada para maridar perfectamente con nuestras cervezas, creando momentos memorables para todos los paladares</p>
        <!-- Botón con clase extra para el efecto hover -->
        <a href="#contacto" class="btn btn-primary mt-3 btn-hover-effect">Contacto</a>
    </div>
    
</section>

<section class="cta-section" id="cta">
  <div class="container">
    <h2 class="cta-title">¡Únete a nuestra comunidad cervecera!</h2>
    <p class="cta-text">Suscríbete a nuestro boletín para recibir las últimas noticias, eventos y ofertas exclusivas.</p>
    <a href="html/suscripcion.html" class="btn btn-primary btn-lg">Suscríbete ahora</a>
  </div>
</section>